@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff; 
    background-color: #fff;
}

h1, h2 {
    font-family: 'Eczar', serif; 
    font-weight: 700;
}

/* headings and logo */

#logo {
    
    font-weight: 600;
    float: left;
    margin-left: 30px;
    color: #000;
    font-size: 220%;
    
  }

  .header {
    text-transform: capitalize;
  } 



/* navigation links */

#navbar {
    font-size: 110%;
    overflow: hidden;
    position: fixed;
    top:0;
    width: 100%;
    background-color: #fff;
    }

#navbar, #logo {
    line-height: 75px; 
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#navbar a {
    text-decoration: none;
    color: #000;
    display: block;
}

#navbar a:hover {
    color: #989898;
}

/* hero image and cover text */


#hero-outer {
    height: 300px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    width: 100%;
    height: 400px;
    background: url('../images/header-background.webp') no-repeat center center;
    background-size: cover;
    
    }

  #hero-text-1 {
    color: #f97f00;
    font-size: 600%;
    text-align: center;     
  }

  #hero-text-2 {
    color: #fff;
    font-size: 400%; 
    text-align: center;
  }

/* Menu */

.section-background {
    background-color: #171717;
}

.menu-info {
    text-align: center;
    padding-top: 20px;    
}

.menu-big {
    font-size: 200%;
}

.silver {
    color: #989898;
    font-size: small;
}

.text-size {
    font-size: 150%;
}

.grid-even-columns {
    text-align: center;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 30px;
    justify-content: center;
}



/* about us */
/* paralaxx scrolling effect code from w3schools */
#about-us {
    background-image: url('../images/pizza_oven.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us div {
    background-color: rgba(0, 0, 0, 0.6);
    block-size: auto;
    text-align: center;
    padding: 5%;  
    
    
}

/* Reviews */

.grid-reviews {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.grid-cal-2 {
    grid-column: span 3; 
}


.text-center {
    text-align: center;
}


/* Facebook button */

.sec-facebook {
    background-color: #fff;  
    padding-top: 30px;   
    text-align: center;  
}


#facebook {
    background: #3b5998;
    color: #fff;
    font-size: 170%;
    cursor: pointer; 
    text-decoration: none;
    display: inline-block;
    width: 400px;
}


/* three pictures */

#three-picture {
    text-align: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 30px;
}


#three-picture > img {
    width: 100%;
    height: 90%;
}


/* Contact */

.contact {
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem  
}

#contact {
    padding-left: 150px;
    text-align: left;
}

#contact > a {
    text-decoration: none;
    color: #188bf6;
}

#google-map {
    padding-bottom: 20px;
    
}



/* footer and copyright */

#bold {
    font-family: 'Eczar', serif; 
    font-weight: 700;
}

.footer-contact  {
    background: #f97f00;
    text-align: center;
}

.footer-contact, p > a {
    text-decoration: none;
    color: #fff;
}




#copyright {
    background: #fff;
    text-align: center;
    color: #000;
    font-size: smaller;
    
}



/* For medium screen size from 950px wide and down*/
@media screen and (max-width: 950px) {
    
    .grid-even-columns {
        grid-template-columns: repeat(2, 1fr);
     }

     #three-picture {
        grid-template-columns: repeat(3, 1fr);
     }

     .contact {
        grid-template-columns: repeat(1, 1fr);
        
     }

     #google-map {
            margin: 10px !important;
            padding-right: 0%;
          }
          #google-map > iframe {
            width: 100% !important;
            height: 100% !important;
            
            
          }
    #contact {
        text-align: center;
        padding-left: 0%;
        }

    #facebook {
                background: #3b5998;
                color: #fff;
                font-size: 120%;
                cursor: pointer; 
                text-decoration: none;
                width: 300px;
                
            }     
        }



        /* For medium screen size from 750px wide and down*/
@media screen and (max-width: 750px) {

    #logo {
        font-weight: 600;
        text-align: center;
        color: #000;
        text-decoration: none;
      }

    #navbar {
        text-align: center;  
        }

    #hero-image {
        width: 100%;
        height: 100%;
    }

    #hero-text-1 {
        color: #f97f00;
        font-size: 300%;
        text-align: center;
      }
    
      #hero-text-2 {
        color: #fff;
        font-size: 200%; 
        text-align: center;
      }

    .grid-even-columns {
        grid-template-columns: repeat(1, 1fr);
     }

     #three-picture {
        grid-template-columns: repeat(1, 1fr);
     }

     #three-picture  > img {
        height: fit-content;
     }

     #about-us {
        background-image: url('../images/pizza_oven.jpeg');
        background-attachment: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}