@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Montserrat:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #171717; 
}


/* headings and logo */

#logo {
    font-family: 'Eczar', serif;
    font-weight: 600;
    float: left;
    margin-left: 30px;
    color: #000;
    font-size: 280%;
  }

  .header {
    background-color: #fff;
    color: #000;
    text-transform: capitalize;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }


/* navigation links */
#menu {
    font-size: 110%;  
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}