@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@600&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #fff;
}

h1,
h2 {
    font-family: 'Eczar', serif;
    font-weight: 700;
}

/* headings and logo */

.logo {
    font-family: 'Eczar', serif;
    font-weight: 600;
    float: left;
    margin-left: 30px;
    color: #000;
    font-size: 220%;
}

.header {
    text-transform: capitalize;
}

/* navigation links */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    height: 50px;
    z-index: 12;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding-right: 40px;
}

.menu-items {
    order: 2;
    display: flex;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.menu-items a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
    color: #F97F00;
    transition: color 0.3s ease-in-out;
}

.logo {
    order: 1;
    font-size: 2.3rem;
    margin-bottom: 0.5rem;
}

/* hero image and cover text */

#hero-outer {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    background: url('../images/header-background.webp') no-repeat center center;
    background-size: cover;
}

#hero-text {
    text-align: center;
    padding: 5%;
}

#hero-text-style-1 {
    color: #f97f00;
    font-size: 600%;
}

#hero-text-style-2 {
    color: #fff;
    font-size: 400%;
}

/* Menu */

.section-background {
    background-color: #171717;
}

.menu-info {
    text-align: center;
    padding-top: 20px;
}

.menu-big {
    font-size: 200%;
}

.item {
    margin: 20px;
}

.silver {
    font-family: 'Montserrat', sans-serif;
    color: #989898;
    font-size: small;
}

.text-size {
    font-size: 150%;
}

.grid-even-columns {
    text-align: center;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 30px;
    justify-content: center;
}


/* about us */

#about {
    background-image: url('../images/pizza_oven.webp');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about div {
    background-color: rgba(0, 0, 0, 0.6);
    block-size: auto;
    text-align: center;
    padding: 5%;
}

.about-us-margin {
    margin: 20px;
}


/* Reviews */

.grid-reviews {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.grid-cal-2 {
    grid-column: span 2;
}

.text-center {
    text-align: center;
}

/* Facebook button */

.sec-facebook {
    background-color: #fff;
    padding-top: 25px;
    text-align: center;
}

#facebook {
    background: #3b5998;
    color: #fff;
    font-size: 170%;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    width: 400px;
}

/* three pictures */

#three-picture {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 25px;
}

#three-picture>img {
    height: 100%;
    width: 100%;
}

/* Contact */

.contact {
    background: #fff;
    color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem
}

.contact-margin {
    margin: 20px;
}

#contact {
    padding-left: 150px;
    text-align: left;
}

#contact>a {
    text-decoration: none;
    color: #188bf6;
}

#google-map {
    padding-bottom: 20px;
    padding-right: 50px;
}

/* footer and copyright */

span {
    font-family: 'Eczar', serif;
    font-weight: 700;
}

.footer-contact {
    background: #f97f00;
    text-align: center;
}

.footer-contact,
p>a {
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
}


#copyright {
    background: #fff;
    text-align: center;
    color: #000;
    font-size: smaller;
    padding: 10px;
}



/* For medium screen size from 950px wide and down*/
@media screen and (max-width: 950px) {


    .grid-even-columns {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact {
        grid-template-columns: repeat(1, 1fr);
    }

    #google-map {
        margin: 10px !important;
        padding-right: 0%;
        height: 30vh;
    }

    #google-map>iframe {
        width: 100% !important;
        height: 100% !important;
    }

    #contact {
        text-align: center;
        padding-left: 0%;
    }
}


/* For medium screen size from 768px wide and down*/

@media screen and (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
    }

    .navbar-container .hamburger-lines {
        display: block;
        height: 23px;
        width: 35px;
        position: absolute;
        top: 17px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }

    .navbar-container .hamburger-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2 {
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .navbar .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 200px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 50px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
    }

    .navbar .menu-items li {
        margin-bottom: 1.5rem;
        font-size: 1.3rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 2rem;
    }

    .navbar-container input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
        transform: rotate(35deg);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
        transform: rotate(-35deg);
    }

    #logo {
        font-family: 'Eczar', serif;
        font-weight: 600;
        text-align: center;
        color: #000;
        text-decoration: none;
    }

    #hero-image {
        width: 100%;
    }

    #hero-text {
        text-align: center;
        padding-top: 50px;
    }

    #hero-text-style-1 {
        color: #f97f00;
        font-size: 300%;
    }

    #hero-text-style-2 {
        color: #fff;
        font-size: 200%;
    }

    .grid-even-columns {
        grid-template-columns: repeat(1, 1fr);
    }

    #facebook {
        font-size: 120%;
        width: 300px;
    }

    #three-picture {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        padding: 25px;
    }

    #three-picture>img {
        height: 100%;
        width: 100%;
    }

    #about-us {
        background-image: url('../images/pizza_oven.webp');
        background-attachment: inherit;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}


@media (max-width: 500px) {

    #hero-text-style-1 {
        font-size: 200%;
    }

    #hero-text-style-2 {
        font-size: 150%;
    }

    .navbar .menu-items li {
        font-size: 1.6rem;
    }

    .logo {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 1.8rem;
    }

    .navbar .menu-items li {
        margin-bottom: 2rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}